django~=4.1.13
psycopg2-binary==2.9.9
python-dotenv==1.0.0
django-taggit==5.0.1
pillow==10.2.0
djangorestframework~=3.13.1
djoser==2.2.2
djangorestframework_simplejwt==5.3.1
django-filter==23.5
drf-yasg==1.21.7
requests==2.31
django-ordered-model==3.7.4
celery[redis]==5.3.6
weasyprint==61.2
django-cors-headers==4.3.1
git+https://github.com/AltSchool/dynamic-rest@v2.1.7
